
body {
	font-family: 'Ubuntu', sans-serif;
    color: #D8D8D8;
    background-color: #505050; 
	text-align: center;
	line-height: 125%;
    margin:0; 
    padding:0;}

.header {
	font-size: large;
	font-weight: bold;}

a {
    text-decoration: none;}

a:link {
    color: #E8E8E8;
    background-color: #737373;}

a:visited{
    color: #D8D8D8;
    background-color: #606060;}

a:hover{
    color: #303030;
    background-color: #FFFFFF;}

a:active{
    color: #FFFFFF;
    background-color: #000000;}